<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

	<!-- Fonts -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Sistema de Vendas</title>
    
    <style>
        .list-group-item.active {
            background-color: #007bff;
            color: white;
        }
        .list-group-item:hover {
            cursor: pointer;
            background-color: #0056b3;
            color: white;
        }
        .submenu {
            display: none;
            margin-left: 15px;
        }
        .submenu a {
            color: #007bff;
        }
        .submenu a:hover {
            color: #0056b3;
        }
        .show-submenu .submenu {
            display: block;
        }
    </style>
    
  </head>
  <body>

    <nav class="navbar navbar-dark bg-primary">
        <img src="https://png.pngtree.com/png-vector/20190702/ourlarge/pngtree-jeans-logo-wear-logo-thsirt-logo-j-logo-png-image_1532448.jpg" alt="" width="70" height="50" class="d-inline-block align-text-top">
        <a class="navbar-brand" href="#">Sistema de Vendas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group" style="margin-top: 10px;">
                    <li class="list-group-item active"><i class="fa-solid fa-gears"></i>	Funcionalidades</li>
                    <a href="/cadastroVenda"><li class="list-group-item">Efetuar Venda</li></a>
                    <a href="/listarVenda"><li class="list-group-item">Listar Vendas</li></a>
                    <a href="/cadastroEntrada"><li class="list-group-item">Efetuar Entrada de Produto</li></a>
                    <a href="/listarEntrada"><li class="list-group-item">Listar Entradas de Produtos</li></a>
                    
                    <li class="list-group-item active"><i class="fa-solid fa-plus"></i>	   Cadastros</li>
                    <a href="/cadastroVendedor"><li class="list-group-item">Cadastro Vendedor</li></a>
                    <a href="/cadastroCliente"><li class="list-group-item">Cadastro Cliente</li></a>
                    <a href="/cadastroFornecedor"><li class="list-group-item">Cadastro Fornecedor</li></a>
                    <a href="/cadastroProduto"><li class="list-group-item">Cadastro Produto</li></a>
                    
                    <li class="list-group-item active"><i class="fa-solid fa-table-list"></i>    Listas</li>
                    <a href="/listarVendedor"><li class="list-group-item">Lista Vendedor</li></a>
                    <a href="/listarCliente"><li class="list-group-item">Lista Cliente</li></a>
                    <a href="/listarFornecedor"><li class="list-group-item">Lista Fornecedor</li></a>
                    <a href="/listarProduto"><li class="list-group-item">Lista Produto</li></a>
                  </ul>
            </div>
            <div class="col-md-9">
                <h1>Bem Vindo ao Sistema de Gerenciamento de Vendas</h1>
                <h4>Desenvolvido por Juan Andrade</h4>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
 
  </body>
</html>